@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
body{
    font-family: 'Lato', sans-serif;
}
.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 45px;
    padding-bottom: 28px;
}
.header{
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    background-color: #55adb7;
    z-index: 10;
}
.nav__link{
    margin-right: 44px;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    text-transform: uppercase;
}
.nav__link:last-child{
    margin: 0;
}
.intro{
    background: url(../img/bg.jpg) no-repeat center top;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.intro__text{
    color: #e4e4e4;
    font-size: 44px;
    font-weight: 700;
    line-height: 58px;
    text-transform: uppercase;
}
button, 
button:active, 
button:focus {
    outline: none;
}
.intro__button{
    padding-top: 11px;
    padding-bottom: 13px;
    padding-left: 48px;
    padding-right: 41px;
    margin-top: 47px;
    background-color: transparent;
    border: 3px solid #afb1b4;
    color: #e4e4e4;
    font-size: 30px;
    font-weight: 300;
    line-height: 58px;
    border-radius: 3px;
}

.about__images img{
    max-width: 100px;
    margin: 0 auto;
}

@media(max-width:480px){
    .intro__text{
        font-size: 35px;
    }
}
@media(max-width:390px){
    .intro__text{
        font-size: 30px;
    }
}
@media(max-width:340px){
    .intro__text{
        font-size: 26px;
    }
}
.about__title{
    color: #4c505d;
    font-size: 30px;
    font-weight: 400;
    line-height: 49px;
    margin: 0 auto;
    text-align: center;
    margin-top: 84px;
    margin-bottom: 39px;
}
.about__text{
    color: #4c505d;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
}
.about__images{
    margin-top: 71px;
    margin-bottom: 81px;
    display: flex;
    flex-direction: column;
}
.portfolio__intro{
    width: 306px;
    margin: 0 auto;
    display: flex;
    padding-top: 94px;
    align-items: center;
}
.portfolio{
    background-color: #00D089;
}
.portfolio__photo{
    margin-right: 29px;
}
.portfolio__name-text{
    color: #e4e4e4;
    font-size: 26px;
    font-weight: 700;
    line-height: 58px;
    text-transform: uppercase;
}
.portfolio__name{
    margin-bottom: 60px;
}
.portfolio_text{
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;
    padding-bottom: 94px;
}
.contact{
    background: url(../img/map.jpg) no-repeat center top / cover;
    height: 80vh;
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.contact__form{
    width: 430px;
    height: 430px;
    border-radius:250px;
    background-color: #ffffff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.09);
    opacity: 0.85;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.contact__input{
    display: flex;
    width: 275px;
    height: 31px;
    border: 1px solid #d8d8d8;
    background-color: #ffffff;
    opacity: 0.5;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 16px;
}
@media(max-width:460px){
    .contact__form{
        width: 415px;
        height: 415px;
    }
}
@media(max-width:445px){
    .contact__form{
        width: 350px;
        height: 350px;
    }
    .contact__input{
        width: 215px;
    }
}
@media(max-width:420px){
    .contact__form{
        width: 340px;
        height: 340px;
    }
}
@media(max-width:370px){
    .contact__form{
        width: 330px;
        height: 330px;
    }
}
@media(max-width:360px){
    .contact__form{
        width: 310px;
        height: 310px;
    }
    .contact__input{
        width: 190px;
    }
}
@media(max-width:340px){
    .contact__form{
        width: 250px;
        height: 250px;
    }
    .contact__input{
        width: 160px;
        margin-bottom: 5px;
        height: 25px;
    }
    .portfolio__name{
        display: none;
    }
}
.contact__input:last-child{
    margin: 0;
}
.contact__button{
    margin-top: 33px;
    cursor: pointer;
}
.footer{
    background-color: #00d089;
    padding-top: 13px;
    padding-bottom: 16px;
    text-align: center;
}
.footer__text{
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    text-transform: uppercase;
}
ul,li{
    display: block;
}
.mobile__nav{
    position: absolute;
    background-color: rgb(0,208,137,0.95);
    width: 100%;
    right: -100%;
    height: 84.2vh;
    text-align: center;
    z-index: 25;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition:transform .6s ease;
}
.mobile-nav__inner__active{
    transform: translateX(-100%);
}
.mobile__item{
    margin-top:60px;
}
.mobile__link{
    color: #fff;
    font-size: 23px;
    font-weight: 400;
    line-height: 25px;
    text-transform: uppercase;
}
.mobile__item:first-child{
    margin:0;
}
@media(min-width:992px){
    .mobile__nav{
        display: none;
    }
    .mobile__nav{
        display: none;
    }
    .burger__menu{
        display: none;
    }
}
@media(max-width:992px){
    .nav{
        display: none;
    }
    .burger__menu{
        display: block;
    }
}
.burger__menu{
    
}